
<h2>Company Contact Information</h2>

<div id="calendarContainer" class="dx-flex-layout"></div>

<script>
    // run the windowLoaded when the page loads
    window.addEventListener("load", windowLoaded);

    function windowLoaded() {
        $("#navbar ul li").removeClass("active");
        $("#contact-menu-item").addClass("active");

        $("#calendarContainer").dxCalendar({
            firstDayOfWeek: 1
        });


    }
</script>